.App {
  margin: 0;
  padding: 0;
}

.maintitle {
  font-size: 50px;
}
.title {
  font-size: 32px;
}

.text {
 font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: [options] 1fr [content] 2fr;
  width: 100%;

}



.options {
  grid-column: options;
  width: 400px;
  height: 800px;
}


.content {
  grid-column: content;
  width: 900px;
  height: 818px;
  border-radius: 30px;
  margin-top: 50px;
  background-image: url("./img/White Glassy card.svg");

}

.form1 {
  height: 604px;
  width: 395px;
  border-radius: 54px;
  padding: 50px;
  background-image: url("./img/White Glass.svg");
  background-size: cover;
}

.block1 {
  display: flex;
  justify-content: space-between;
}
.block1 input {
  width: 132px;
  height: 45px;
  border-radius: 10px;
  border: none

}

.block2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.block2 input {
  width: 132px;
  height: 45px;
  border-radius: 10px;
  border: none
}
.block3 {

  justify-content: space-between;
}
.block3 input {
  border: none;
  margin-top: 40px;
  width: 290px;
  height: 45px;
  border-radius: 10px;

}

.blocktextone {

  width: 395px;
  height: 170px;
  font-size: 36px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 50px;
  background-image: url("./img/White Glass.svg");
}

.blocktexttwo {
  width: 395px;
  height: 409px;
  margin-top: 20px;
padding: 20px;

  background-image: url("./img/White Glass.svg");

}
.blocktext {
  font-size: 13px;
}

.search {
  padding: 10px;
  border: black 1px solid;
  border-radius: 10px;
}
.content2 {
  grid-column: content;
  width: 856px;
  height: 818px;

  border-radius: 30px;
  margin-top: 50px;
  transition: 1s;

}

.slide {
  position: relative;
width: 900px;
  margin-top: -829px;
  transition: 1s;
}

.slidercnt {
  display: grid;
  grid-template-columns: [sideone] 1fr [sidetwo] 1fr;
}

.sideone {
  grid-column: sideone;
}

.sidetwo {
  grid-column: sidetwo;
  margin-left: 20px;
}

.textcontent {
  padding: 50px;
  border-radius: 30px;

}


.dark {
  background-color: black;
  color: white;
  border-color: white;
}

.light {
  background-color: #ebebeb;
  color: black;
  border-color: black;
}

.toggleBlock {
  margin-top: 40px;
  margin-left: 40px;
}

.btn1 {
  transition: 1s;
  cursor: pointer;
  margin-left: 70px;
  margin-top: 130px;
  width: 295px;
  height: 79px;
  left: 70px;
  top: 307px;
  border: black 1px solid;
  filter: blur(1px);
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.3) 28.69%, rgba(255, 255, 255, 0.24) 100%);
  /* glass blur */

  backdrop-filter: blur(140px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 13px;
}

.btn2 {
  transition: 1s;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 70px;
  width: 295px;
  height: 79px;
  left: 70px;
  top: 507px;
  filter: blur(1px);
  border: black 1px solid;
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.3) 28.69%, rgba(255, 255, 255, 0.24) 100%);
  /* glass blur */

  backdrop-filter: blur(140px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 13px;
}

.active1 {

  width: 345px;
  height: 91px;
  transition: 1s;
  filter: blur(0px);
}

.active2 {

  width: 345px;
  height: 91px;
  transition: 1s;
  filter: blur(0px);
}

.finderblock {
padding: 50px;
  background-image: url("./img/White Glass.svg");
}