.App {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.maintitle {
  font-size: 50px;
}


.container {
  display: grid;
  grid-template-columns: [options] 1fr [content] 2fr;
  width: 100%;
}

.options {
  grid-column: options;
  width: 400px;
  height: 800px;
}


.content {
  grid-column: content;
  width: 900px;
  height: 818px;
  border-radius: 30px;
  margin-top: 50px;
  background-image: url("img/whiteGlassyCard.svg");

}

.form1 {
  height: 604px;
  width: 395px;
  border-radius: 54px;
  padding: 50px;
  background-image: url("./img/White Glass.svg");
  background-size: cover;
}

.block1 {
  display: flex;
  justify-content: space-between;
}
.block1 input {
  width: 132px;
  height: 45px;
  border-radius: 10px;
  border: none

}

.block2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.block2 input {
  width: 132px;
  height: 45px;
  border-radius: 10px;
  border: none
}
.block3 {

  justify-content: space-between;
}
.block3 input {
  border: none;
  margin-top: 40px;
  width: 290px;
  height: 45px;
  border-radius: 10px;

}


.blocktext {
  font-size: 13px;
}

.search {
  padding: 10px;
  border: black 1px solid;
  border-radius: 10px;
}

.slidercnt {
  display: grid;
  grid-template-columns: [sideone] 1fr [sidetwo] 1fr;
}





.textcontent {
  padding: 50px;
  border-radius: 30px;

}


.dark {
  background-color: black;
  color: white;
  border-color: white;
}

.light {
  background-color: #ebebeb;
  color: black;
  border-color: black;
}

.toggleBlock {
  margin-top: 40px;
  margin-left: 40px;
}







.finderblock {
padding: 50px;
  background-image: url("./img/White Glass.svg");
}

